/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
krisnaweb.zip
public/img/pelajar/Pelajar126.png
public/assets/img/no-image.png
public/pendidik/cv/cv-admin127.jpg
public/pendidik/cv/cv-admin127.pdf
public/pendidik/img/staf-admin127.jpg
public/pendidik/img/staf-admin127.png
public/img/pelajar/staf-admin127.jpg
