/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
krisnaweb.zip
public/img/pelajar/Pelajar126.png
public/assets/img/no-image.png
public/pendidik/cv/cv-admin127.jpg
public/pendidik/cv/cv-admin127.pdf
public/pendidik/img/staf-admin127.jpg
public/pendidik/img/staf-admin127.png
public/img/pelajar/staf-admin127.jpg
public/pendidik/img/pendidik128.jpg
public/pendidik/cv/cv128.pdf
public/pendidik/cv/cv4.pdf
public/pendidik/img/pendidik4.jpg
public/img/pelajar/Pelajarbaru11.jpg
storage/framework/laravel-excel/laravel-excel-inCcFGZApYpvuF5bkl0ACCF7F8k120Cf.html
ngrok.exe
public/img/pelajar/Pelajar135.jpg
public/img/pelajar/Pelajar136.jpg
public/pendidik/cv/cv124.pdf
public/pendidik/img/pendidik124.png
public/pendidik/img/Pendidik-132.png
public/pendidik/img/Pendidik-133.png
